@import url('https://fonts.googleapis.com/css?family=Cuprum&display=swap');

* {
    margin: 0;
    padding: 0;
}

header {
    margin-top: 200px;
    font-family: Arial, Helvetica, sans-serif
}

body {
    background: url("../img/ep_naturalwhite.png")
}

li {
    list-style-type: none;
}

.menu>ul >li {
    position: relative;
    border-right: 1px solid #c7c8ca;
}

.menu>ul >li:first-child {
    border-left: 1px solid #c7c8ca;
}

.menu>ul li a {
    display: block;
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f5f5+0,c4c5c7+100 */
    background: #f5f5f5;
    /* Old browsers */
    background: -moz-linear-gradient(top, #f5f5f5 0%, #c4c5c7 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #c4c5c7 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #f5f5f5 0%, #c4c5c7 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#c4c5c7', GradientType=0);
    /* IE6-9 */
    border: 1px solid #c7c8ca;
}
.menu li ul{
    min-width: 150px;
    position: absolute;
    display: none;
}
/*.menu > li > ul li{
    border: 1px solid #c7c8ca !important;
}*/
.menu li > ul li a{
    background: #e4e4e5;
    /*margin: 10px;*/
    text-transform: lowercase;
    border: 
}

.menu>ul {
    display: flex;
    justify-content: center;
}

.menu>ul li>a i.fa {
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

.menu li a:hover {
    background: #454547;
    color: #c7c8ca;
    transition: all 0.3s ease;
    box-shadow: 1px 5px 10px -5px black;
}
.menu li:hover>ul{
    display: block;
}
.block{
    height: 200px;
    background: #454547;
    color: white;
    overflow: hidden;
    position: absolute;
}
.block1{
    height: 100px;
    width: 200px;
    background: red;
    position: relative; 
    top: 50px;
    left 100px;
}