img{
    width: 40%;
    border: 6px solid black;
    
}
p{
    font-size: 50px;
}
body{
    /*background-image: url(../img/fon.jpg), url(../img/bgfon.png);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
    background-size: 100%, cover;*/
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#b7deed+0,71ceef+50,21b4e2+51,b7deed+100;Shape+1+Style */
background: #b7deed; /* Old browsers */
background: -moz-linear-gradient(top,  #b7deed 0%, #71ceef 50%, #21b4e2 51%, #b7deed 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #b7deed 0%,#71ceef 50%,#21b4e2 51%,#b7deed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b7deed', endColorstr='#b7deed',GradientType=0 ); /* IE6-9 */


}
.clearfix{
    clear: both;
}
.divimg{
    text-align: center;
}
a{
    display: inline-block;
    color: white;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
  }
  .ref1{
      background-color: black;
      transition: 1s;
  }
  a.ref1:hover{
      background-color: rgb(58, 56, 56);
      transition: 1s;
  }
  .ref2{
      content: ;
      background-color: red;
      transition: 1s;
  }
  a.ref2:hover{
      background-color: salmon;
      transition: 1s;
  }
  a::after{
    width: 11px;
    height: 11px;
    content: "";
    background: url(../img/arrow-right.png) no-repeat 50% 50%;
    display: inline-block;
    margin-top: -5px;
    vertical-align: middle;
    margin-left: 15px;
    
  }
/* https://www.flaticon.com/  http://bg.siteorigin.com/ https://www.colorzilla.com/ 
   https://fontawesome.com https://htmlreference.io/*/